.parent {
    padding: 15px;
}

.child {
    padding: 15px;
}

.add-button {
    margin-left: 10px;
}

.dropdown .dropdown-toggle{
    width: 250px;
    text-align: left;
}

.dropdown-toggle::after {
   margin-top: 10px;
   float: right;
}

.dropdown-menu.show {
    width: 250px;
}
